*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-family: "Google Sans", sans-serif;
    max-width: 900px;
} 

header{
    margin-left: 3rem;
}

.toggle{
    display: flex;
    justify-content: flex-end;
}

.title{
    display: flex;
    h1{
        flex-grow: 4;
        margin-top: 1rem;
}
}

.description{
    font-size: 14px;
    color: rgba(46, 45, 45, 0.685);
    
}

.description_b{
    font-size: 14px;
}

.toggle_style{
    font-size: 1.5rem;
    border: none;
    padding: 0.5rem;
    margin-top: 0;
}

.spec{
    margin-top: 1rem;
    color: rgba(46, 45, 45, 0.685);
}

main{
    margin-left: 5rem;  
    display: flex;
    flex-wrap: wrap;
}

h2{
    margin-top: 3rem;
}

.col{
    margin-bottom:  1.5rem;
    max-width: 100%;
     padding-left: 1rem;
    padding-right: 1rem;
}

.num{
    font-size: 3rem;    
}

.space{
    margin-left: 2rem;
}

.evi{
    background-color: rgba(12, 93, 104, 0.295);
    border-radius: 0.3rem;
    padding: 0.2rem;
}

.evi_b{
    background-color: white;
    border-radius: 0.3rem;
    padding: 0.2rem;
    color: black;
}
.btn{
    background-color: rgba(101, 0, 255, 100);
    color: white;
    padding: 1.2rem;
    border-radius: 0.75rem;
    width: 90%;
    border-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
   }

.col_b{
    max-width: 100%;
    background-color: rgba(101, 0, 255, 100);
    color: white;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    }
    


button.sec{
    background-color: white
    color: rgba(101, 0, 255, 100); 
    padding: 1.2rem;
    border-radius: 0.75rem;
    width: 90%;
    border-style: none;
    margin-left: 0.7rem;
     margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.list ul{
    list-style-type: none;
}

li{
    padding-bottom: 1rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}